#displayColorName {
    font-size: 40px;
    font-weight: bold;
    font-family:"Times New Roman";
}

#incorrectMessage {
	font-size:15px;
	color:#FF0000;
	font-family: "Times New Roman";	
}

#correctMessage {
	font-size:15px;
	color:#00CC00;
	font-family: "Times New Roman";	
}

#type {
	font-size:15px;
	color: #ffffff;
	font-family: "Times New Roman";	

}

#colorButton {
	font-family: "Times New Roman";	
}

#gameOver {
	font-size:35px;
	font-family: "Times New Roman";	
	color: #d8e2e1;
}

.colorGame_name {
	background-color: #ffffff;
	font-size: 25px;
	width: 200px;
	margin: 0px auto;
}