body{
	background-color: #033035;
}
.numberGuess_displayArea
{
	text-align: center;
	color: #d8e2e1;
	font-size: 140px;
	background-color: #d04a63;
	width:200px;
	height: 200px;
	padding: 0px 10px 5px 10px;
	margin: 0px auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.numberGuess_buttonsContainer{
	margin: 0px auto;
	width: 200px;
	text-align: center;
	margin-top: 20px;
}
.numberGuess_guessButton{
	width: 200px;
	background-color: #38806c;
	color: #ffffff;
	outline: none;

}
.numberGuess_guessButton:hover{
	color:#ffc557;
}

.numberGuess_msg{
	color: #ffffff;
	background-color: #d04a63;
	font-size: 24px;
	min-height: 70px;
	text-align: center;
	margin: -10px 0px 20px 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;

}
.numberGuess_msgEnd{
	color: #ffffff;
	font-size: 24px;
	text-align: center;
}

.numberGuess_playAgain{
	width: 200px;
	margin: 0px auto;
	background-color: #a4c47b;
	color: #ffffff;
}
.numberGuess_playAgain:hover{
	color: #033035;
}
.numberGuess_textBox{
	font-size: 24px;
	text-align: center;
	border: 0px;
	width:170px;
}
.numberGuess_inputWrapper
{
	background-color:#ffc557;
	padding: 70px 0px;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;

}